.c-fff {
	color: #fff;
}

.c-9f9f9f {
	color: #9f9f9f;
}

.c-666 {
	color: #666;
}

.c-999 {
	color: #999;
}

.c-3190e8 {
	color: #3190e8;
}

.f-s-13 {
	font-size: 13px;
}

.f-s-14 {
	font-size: 14px;
}

.f-s-12 {
	font-size: 12px;
}

.f-s-18 {
	font-size: 18px;
}

.f-w-900 {
	font-weight: 900;
}

.mar-t-10 {
	margin-top: 10px;
}

.mar-b-10 {
	margin-bottom: 10px;
}

.text-center {
	text-align: center;
}

.mar-r-10 {
	margin-right: 10px;
}

.mar-r-20 {
	margin-right: 20px;
}

.mar-l-12 {
	margin-left: 12px;
}

.f-s-18 {
	font-size: 18px;
}
