.w-flex-column {
	display: flex;
	flex-direction: column;
}

.w-flex-row {
	display: flex;
	flex-direction: row;
}

.w-flex-jusify-between {
	justify-content: space-between;
}

.w-flex-jusify-center {
	justify-content: center !important;
}

.w-flex-jusify-around {
	justify-content: space-around;

}

.w-flex-jusify-end {
	justify-content: flex-end;
}

.w-flex-cross-center {
	align-items: center
}

.w-flex-cross-end {
	align-items: flex-end;
}

.w-flex-auto {
	flex: 1 1 auto;
}

.w-align-self-c {
	align-self: center;
}

.w-align-s-end {
	align-self: flex-end;
}
