.c-fff {
	color: $color-fff;
}
.c-666 {
	color: $color-666;
}
.c-3190e8 {
	color: #3190e8;
}
.c-999 {
	color: $color-999;
}
.c-333 {
	color: #333;
}
.c-555 {
	color: #555;
}
.c-ff5633 {
	color: #ff5633;
}
.c-aaa {
	color: #aaa;
}
.c-9f9f9f {
	color: #9f9f9f;
}

.c-3190e8 {
	color: #3190e8;
}
.c-ff5340 {
	color: #ff5340;
}
.f-s-12 {
	font-size: 12px;
}

.f-s-13 {
	font-size: 13px;
}

.f-s-14 {
	font-size: 14px;
}
.f-s-17 {
	font-size: 17px;
}
.f-s-18 {
	font-size: 18px;
}
.f-w-400 {
	font-weight: 400;
}
.f-w-700 {
	font-weight: 700;
}
.f-w-900 {
	font-weight: 900;
}
.mar-t-5 {
	margin-top: 5px;
}
.mar-t-10 {
	margin-top: $px-10;
}
.mar-t-25 {
	margin-top: 25px;
}
.mar-b-10 {
	margin-bottom: $px-10;
}
.mar-b-15 {
	margin-bottom: 15px;
}
.text-center {
	text-align: center;
}

.mar-r-10 {
	margin-right: $px-10;
}

.mar-r-20 {
	margin-right: 20px;
}
.mar-l-10 {
	margin-left: 10px;
}
.mar-l-12 {
	margin-left: 12px;
}
.mar-l-50 {
	margin-left: 50px;
}
.f-s-18 {
	font-size: 18px;
}
.f-s-30 {
	font-size: 30px;
}
.f-w-700 {
	font-weight: 700;
}
.pad-t-20 {
	padding-top: 20px;
}
.pad-t-25 {
	padding-top: 25px;
}
.pad-b-25 {
	padding-bottom: 25px;
}
.pad-b-10 {
	padding-bottom: 10px;
}
.bg-f5f5f5 {
	background-color: #f5f5f5 !important;
}
.bg-fff {
	background-color: #fff;
}

.vw-100 {
	height: 100vw;
}
.block {
	display: block;
}
